body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.info-box {
  position: absolute;
  background-color: #f0fff0; /* Verde claro */
  color: #333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 350px;
  max-width: 90%;
  font-family: Arial, sans-serif;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

.info-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}



.info-box-close {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
}

.info-box-header h3 {
  margin: 0;
  font-size: 18px;
  color: #2e7d32;
}

.info-box-close {
  background-color: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.info-box-close:hover {
  background-color: #1b5e20;
}


/* Contenido del recuadro */
.info-box-content p {
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
}

.info-box-content img,
.info-box-content video {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

/* Estilo general para los hotspots e infospots */
.panolens-infospot {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff5722; /* Naranja llamativo */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hotspot */
.panolens-infospot.hotspot {
  background-color: #f44336; /* Rojo */
}

/* Infospot */
.panolens-infospot.infospot {
  background-color: #4caf50; /* Verde */
}

/* Animación al pasar el mouse */
.panolens-infospot:hover {
  transform: scale(1.2); /* Incrementar tamaño */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

/* Iconos dentro de los spots */
.panolens-infospot img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

.spot-title {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  pointer-events: none;
  transform: translate(-50%, -100%);
}
